/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
    height:100%;
    width: 100%;
/*  font-family: 'Pacifico', cursive;*/
}

.my-gallery {
  width: 100%;
  margin: auto;
}

.my-gallery img {
  width: 100%;
  height: auto;
  display: block;

}

.my-gallery figure {
  margin: 0 5px 5px 0;
  width: 300px;
}

.my-gallery figcaption {
  display: none;
}


.subheader-line {
    overflow: hidden;
    text-align: center;
    font-size: 26px;
}
.subheader-line:before,
.subheader-line:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.subheader-line:before {
    right: 0.5em;
    margin-left: -50%;
}
.subheader-line:after {
    left: 0.5em;
    margin-right: -50%;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
        width: 100%;
    }
        .navbar-nav > li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}


.section-title {
  border-width: 0 0 13px 0;
}

.nice-border {
  /* Safari & Chrome need border-style and border-color ¯\_(ツ)_/¯ */
  border-style: dotted;
  border-color: rgba(213, 126, 0, 1);
  border-image-source: url('http://cl.ly/3c2J3c0l3r0P/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
}
