/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'cl'; /*a name to be used later*/
    src: url(../fonts/champagne_limousines/Champagne_Limousines.ttf); /*URL to font*/
}

@font-face {
    font-family: 'the_heart_of_everything'; /*a name to be used later*/
    src: url(../fonts/the_heart_of_everything/The_Heart_of_Everything_Demo.ttf); /*URL to font*/
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
    height:100%;
    width: 100%;
    font-family: 'cl';
}

/*http://stackoverflow.com/questions/15884102/bootstrap-how-do-i-change-the-width-of-the-container*/

.container { width: auto; }

ul.navbar-even {
  display:block;
  width:100%;
  margin:0;
  padding:0;
}

ul.navbar-even li {
  display:block;
  width:20%;
  margin:0;
  padding:0;
  text-align:center;
  float:left;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

@media (max-width: 768px) {
  ul.navbar-even li {
  width: 100%;
  float: none;
  }
}

.clicked {
  color: #BFA8B4 !important;
  text-decoration: underline !important;
}

.image-bg-fluid-height {
    background:  rgba(74, 74, 74, .5) url(../img/kneel.jpg) no-repeat center center scroll;
    // background: url(../img/backgroundimage.png) no-repeat center center scroll;
    padding: 200px 100px 150px 100px;
    background-size: cover;
}

.test {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
background: rgba(74, 74, 74, .5);
}


/*
black overlay
.image-bg-fluid-height:after {
  background: rgba(0,0,0,0.6);
}*/

.img-center {
    margin: 0 auto;
}

.my-gallery {
  width: 100%;
  margin: auto;
}

.my-gallery img {
  width: 100%;
  height: auto;
  display: block;

}

.my-gallery figure {
  margin: 0 5px 5px 0;
  width: 300px;
}

.my-gallery figcaption {
  display: none;
}

h3 {
  color: #0E4869;
  font-family: 'the_heart_of_everything';
  font-size: 40px;
}

.body-link {
  color: #BFA8B4 !important;
  text-decoration: underline !important;
}

.body-content {
  font-family: 'Fanwood Text';
}

.body-text-small {
  font-size: 18px
}

.body-text-medium {
  font-size: 28px
}

.dotted-line {
  margin-top: 15px;
}

.nowrap {
  white-space: nowrap;
}


.bridal-img {
  height: 200px;
  width: 200px;
}

.fancy-line img {
    width: 100%;
}

@media (max-width: 770px) {
  .fancy-line img {
    width: 50%;
  }
}

